<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971079052727-sbn9295unqvo3kupt2j2402fkdvupqij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971079052727-sbn9295unqvo3kupt2j2402fkdvupqij</string>
	<key>API_KEY</key>
	<string>AIzaSyDw56yZzQePayuDjGjGC1b6482dPj2XPyc</string>
	<key>GCM_SENDER_ID</key>
	<string>971079052727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domainname.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project-0451</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project-0451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971079052727:ios:d703a7e366820c7bab4c32</string>
</dict>
</plist>